<div class="grid grid-cols-2 gap-3 sm:grid-cols-4 justify-around mt-12">
  <div class="rounded-[25px] bg-secondary text-black p-8 aspect">
    <div class="h-12">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-users size-12"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#000000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M9 7m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
        <path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" />
        <path d="M16 3.13a4 4 0 0 1 0 7.75" />
        <path d="M21 21v-2a4 4 0 0 0 -3 -3.85" />
      </svg>
    </div>
    <div class="my-2">
      <h2 class="text-4xl font-bold"><span>2680</span> +</h2>
    </div>

    <div>
      <p class="mt-2 font-sans text-base font-medium text-primary">
        Put The Client First
      </p>
    </div>
  </div>
  <div class="rounded-[25px] bg-secondary text-black p-8 aspect">
    <div class="h-12">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-adjustments-chec size-12k"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#000000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 10a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
        <path d="M6 4v4" />
        <path d="M6 12v8" />
        <path d="M13.823 15.176a2 2 0 1 0 -2.638 2.651" />
        <path d="M12 4v10" />
        <path d="M16 7a2 2 0 1 0 4 0a2 2 0 0 0 -4 0" />
        <path d="M18 4v1" />
        <path d="M18 9v5" />
        <path d="M15 19l2 2l4 -4" />
      </svg>
    </div>
    <div class="my-2">
      <h2 class="text-4xl font-bold"><span>2680</span> +</h2>
    </div>

    <div>
      <p class="mt-2 font-sans text-base font-medium text-primary">
        Put The Client First
      </p>
    </div>
  </div>
  <div class="rounded-[25px] bg-secondary text-black p-8 aspect">
    <div class="h-12">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-recycle size-12"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#000000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M12 17l-2 2l2 2" />
        <path d="M10 19h9a2 2 0 0 0 1.75 -2.75l-.55 -1" />
        <path d="M8.536 11l-.732 -2.732l-2.732 .732" />
        <path d="M7.804 8.268l-4.5 7.794a2 2 0 0 0 1.506 2.89l1.141 .024" />
        <path d="M15.464 11l2.732 .732l.732 -2.732" />
        <path d="M18.196 11.732l-4.5 -7.794a2 2 0 0 0 -3.256 -.14l-.591 .976" />
      </svg>
    </div>
    <div class="my-2">
      <h2 class="text-4xl font-bold"><span>2680</span> +</h2>
    </div>

    <div>
      <p class="mt-2 font-sans text-base font-medium text-primary">
        Put The Client First
      </p>
    </div>
  </div>
  <div class="rounded-[25px] bg-secondary text-black p-8 aspect">
    <div class="h-12">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-parking size-12"
        width="44"
        height="44"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="#000000"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path
          d="M3 5a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v14a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-14z"
        />
        <path
          d="M10 16v-8h2.667c.736 0 1.333 .895 1.333 2s-.597 2 -1.333 2h-2.667"
        />
      </svg>
    </div>
    <div class="my-2">
      <h2 class="text-4xl font-bold"><span>2680</span> +</h2>
    </div>

    <div>
      <p class="mt-2 font-sans text-base font-medium text-primary">
        Put The Client First
      </p>
    </div>
  </div>
</div>
