<div
  class="grid grid-cols-4 justify-around items-center border-t-2 p-12 text-white"
>
  <h3 class="text-5xl font-bold">HALT-O</h3>
  <div class="flex flex-col items-center">
    <h5 class="text-xl">Address :</h5>
    <p>
      No.23 B F1, PVS Nagar, Shanthiniketan Layout, Thuraipakkam, Chennai, Tamil
      Nadu - 600097
    </p>
  </div>
  <div class="flex flex-col items-center gap-3">
    <div class="flex items-center">
      <h5 class="text-xl">Call:</h5>
      <p>+91 44480 61391</p>
    </div>
    <div class="flex items-center">
      <h5 class="text-xl">E-mail:</h5>
      <p>contacthalt-o.com</p>
    </div>
  </div>
  <div class="flex flex-col items-center">
    <h5 class="text-xl">Follow :</h5>
    <p>icons</p>
  </div>
</div>
