<div
  class="flex p-4 items-center fixed w-full z-10 shadow-md transition-colors duration-300"
  [ngClass]="{
    'bg-majorblack bg-opacity-45 text-majorwhite': isScroll(),
    'bg-secondary text-majorblack': !isScroll()
  }"
>
  <a href="/"> <h2 class="text-2xl font-bold text-primary">HALT-O</h2></a>
  <ul class="flex gap-8 ml-auto font-medium">
    <li>
      <a
        href="/"
        class="hover:text-primary transition-colors duration-100"
        [ngClass]="{
          'text-primary': isActive('/')
        }"
        >Home</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="hover:text-primary transition-colors duration-100"
        [ngClass]="{ 'text-primary': isActive('/about') }"
        >About</a
      >
    </li>
    <li>
      <a
        href="/application"
        class="hover:text-primary transition-colors duration-100"
        [ngClass]="{ 'text-primary': isActive('/application') }"
        >Application</a
      >
    </li>
    <li>
      <a
        href="/parking"
        class="hover:text-primary transition-colors duration-100"
        [ngClass]="{
          'text-primary': isActive('/parking')
        }"
        >ParkingEcosystem</a
      >
    </li>
    <li>
      <a
        href="/contact"
        class="hover:text-primary transition-colors duration-150"
        [ngClass]="{ 'text-primary': isActive('/contact') }"
        >Contact</a
      >
    </li>
  </ul>
</div>
