<div class="bg-story bg-no-repeat bg-center bg-fixed bg-cover pb-12">
  <div class="h-[750px] w-screen flex justify-center items-center text-white">
    <img
      src="../../../assets/search1.png"
      alt="what is halt-o"
      class="w-[500px]"
    />
  </div>
  <div
    class="w-4/6 mx-auto py-8 px-12 flex flex-col text-justify gap-8 bg-secondary rounded-md"
  >
    <h3 class="text-5xl font-bold mx-auto">ABOUT US</h3>
    <p>
      Trustem Pvt. Ltd. - doing business as Halt-O - is the answer to your
      parking woes. we offer a variety of parking solutions tailored to meet
      your specific needs. Our mission is to provide exceptional parking
      services that make your life easier. "We know that finding a parking spot
      can be frustrating. That's why we've made it our mission to provide
      hassle-free parking solutions that are both convenient and affordable.
    </p>
    <p>
      Our innovative application software provides real-time views to both
      parking lot owners and users, ensuring efficiency and reliability. But we
      don't stop there - we offer an integrated system that organizes parking
      for all vehicles, with a special focus on trucks and lorries on highways.
      We provide more than just a parking space - we offer value-added amenities
      such as dormitory services, lockers, free toilet facilities, refreshments,
      affordable eateries, and 24/7 security services, particularly in areas
      where robbery, thefts, and other illegal activities are rampant.
    </p>
    <p>
      Our platform provides transparency and security in parking charges and
      service delivery, and our services can be easily availed by paying on the
      go with your phone. Owners can list their parking spaces and earn revenue,
      while users can search for nearby parking spaces for their vehicles.
    </p>
    <p>
      At Halt-O, we bridge the gap between the supply and demand in parking,
      especially in congested commercial and residential areas where parking
      spaces are inadequate. Trust us to change the concept of parking and
      organize the market.
    </p>
    <img src="../../../assets/mission.jpg" alt="mission" class="h-96 mx-auto" />
    <h3 class="text-5xl font-bold mx-auto">Mission</h3>
    <p>
      Our mission is to provide a seamless, efficient, and convenient parking
      experience for both parking lot operators and drivers.
    </p>
    <p>
      Making parking more accessible by providing real-time information about
      available parking spots and enabling drivers to reserve and pay for
      parking in advance.
    </p>
    <p>
      Maximizing the use of parking resources and reducing traffic congestion by
      optimizing parking lot layouts and dynamically adjusting parking prices
      based on supply and demand.
    </p>
    <p>
      Providing parking lot operators with advanced analytics and reporting
      tools to help them make data-driven decisions about their parking
      operations.
    </p>
    <p>
      Promoting sustainability by encouraging the use of electric and hybrid
      vehicles and partnering with other sustainable transportation companies.
    </p>
    <p>
      Enhancing the overall customer experience by providing excellent customer
      service, using innovative technologies, and leveraging customer feedback
      to continually improve.
    </p>
    <p>
      The ultimate goal of Halt-O is to create a more efficient, cost-effective,
      and sustainable parking infrastructure that benefits both parking lot
      operators and drivers. By achieving this mission, Halt-O can help reduce
      traffic congestion, improve air quality, and make transportation more
      accessible and affordable for everyone.
    </p>
    <img
      src="../../../assets/vission.png"
      class="h-96 w-[600px] mx-auto"
      alt="vission"
    />
    <h3 class="text-5xl font-bold mx-auto">Vision</h3>
    <p>
      The vision of Halt-O is to create a world where parking is no longer a
      hassle or a source of stress for drivers, and where parking lot operators
      can maximize the use of their resources while reducing their environmental
      impact.
    </p>
    <p>
      Creating a network of interconnected parking lots that are easy to access
      and navigate, and that provide real-time information about available
      parking spots.
    </p>
    <p>
      Developing advanced parking technologies and analytics tools that enable
      parking lot operators to optimize their operations, reduce their
      environmental footprint, and maximize their revenue.
    </p>
    <p>
      Partnering with Government, other transportation and mobility companies to
      create a seamless and integrated transportation infrastructure that
      benefits all users.
    </p>
    <p>
      Promoting sustainability by encouraging the use of electric and hybrid
      vehicles, investing in green technologies, and using data-driven
      strategies to reduce the environmental impact of parking operations
    </p>
    <p>
      Creating a culture of innovation and continuous improvement by investing
      in research and development, leveraging customer feedback, and cultivating
      a talented and diverse team of professionals.
    </p>
    <p>
      Ultimately, the vision of Halt-O is to transform the parking industry into
      a more efficient, sustainable, and customer-focused ecosystem that
      benefits all stakeholders. By achieving this vision, Halt-O can help make
      transportation more accessible, affordable, and convenient for everyone.
    </p>
  </div>
</div>
