<div class="w-screen p-24 flex gap-3 justify-between items-center">
  <div
    class="w-2/5 mx-auto h-full grid grid-cols-1 justify-center gap-6 border-l-2 pl-4"
  >
    <h3>AMENITIES:</h3>
    <h4 class="text-2xl">
      Our parking ecosystem offers a range of amenities to ensure your parking
      experience is stress-free and convenient.
    </h4>
  </div>
  <div
    class="w-2/5 grid grid-cols-3 mx-auto justify-center items-center text-white"
  >
    <div class="flex flex-col items-center">
      <img
        src="../../../assets/cafeterias.webp"
        alt="road"
        class="size-32 rounded-full"
      />
      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img
        src="../../../assets/Dormen.webp"
        alt="road"
        class="size-32 rounded-full"
      />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img
        src="../../../assets/Toilet.webp"
        alt="road"
        class="size-32 rounded-full"
      />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img
        src="../../../assets/Mech.webp"
        alt="road"
        class="size-32 rounded-full"
      />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img
        src="../../../assets/CCTV.webp"
        alt="road"
        class="size-32 rounded-full"
      />

      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center">
      <img
        src="../../../assets/Solar.webp"
        alt="road"
        class="size-32 rounded-full"
      />
      <p>Cafeterias</p>
    </div>
    <div class="flex flex-col items-center col-span-3">
      <img
        src="../../../assets/Locker.webp"
        alt="road"
        class="size-32 rounded-full"
      />
      <p>Cafeterias</p>
    </div>
  </div>
</div>
