<div class="w-screen p-24 flex gap-6 bg-white justify-between items-center">
  <div class="w-2/5">
    <img src="../../../assets/plasticbag.jpg" alt="road" class="" />
  </div>
  <div
    class="w-3/5 text-black h-full grid grid-cols-1 justify-center gap-6 border-l-2 border-black pl-4"
  >
    <h3>Recycling :</h3>
    <p>
      Our Parking areas are equipped with a sustainable approach where we
      utilize recycled plastics for various purposes. As part of our
      environmental commitment, we incorporate the use o recycled plastics in
      our package lot infrastructure.
    </p>
    <p>
      The roads/flooring in our parking are recycled plastics and polyesters.
      The recycling process:
    </p>
    <ul class="list-disc ml-4">
      <li>We shred them into small pieces</li>
      <li>Adding heated blue metal</li>
      <li>Melting with the brick jelly</li>
      <li>Adding Bitumen</li>
      <li>Laying the Road</li>
    </ul>
    <p>
      By utilizing recycled plastics in our parking lot, we aim to reduce waste
      and promote a circular economy.
    </p>
  </div>
</div>
