<div class="w-screen text-white">
  <div class="absolute h-screen w-full opacity-65">
    <img src="../../assets/header.webp" alt="background" />
  </div>
  <div
    class="relative h-screen flex flex-col justify-center items-center w-full gap-6"
  >
    <h1 class="text-7xl">The Complete Parking Ecosystem</h1>
    <h3 class="text-4xl">
      Say goodbye to parking headaches and hello to
      <span
        class="text-majorblack bg-primary shadow-md rounded-md px-1 font-bold"
      >
        Halt-O !
      </span>
    </h3>
  </div>
</div>
