<div class="bg-roadcross bg-no-repeat bg-center bg-fixed bg-cover pb-12">
  <div class="h-[750px] w-screen flex justify-center items-center text-white">
    <img
      src="../../../assets/search2.png"
      alt="what is halt-o"
      class="w-[500px]"
    />
  </div>
  <div
    class="w-4/6 mx-auto py-8 px-12 flex flex-col text-justify gap-8 bg-secondary rounded-md"
  >
    <h3 class="font-bold text-5xl">Halt-O App</h3>
    <p>
      Are you tired of struggling to find a parking spot in your city, only to
      be greeted with chaos and frustration? Our technology division is here to
      revolutionize the parking experience with our intelligent parking system,
      designed to manage parking spaces and eliminate the headache of mismanaged
      parking. Say goodbye to the stress of finding a spot and hello to
      hassle-free parking with us.
    </p>
    <hr class="border-2 my-4" />
    <div class="grid grid-cols-2 gap-6 items-center justify-center p-6">
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>Pay for the parking</p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>Real Time Parking infrastructure</p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>Data Analytics on parking utilization</p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>
          Pay using your wallet or bank. User can recharge their wallet from
          bank
        </p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>Transparency in parking charges</p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>Flexibility in accessing and managing parking spaces</p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>View all the available parking location near you in Google map</p>
      </div>
      <div class="flex items-center gap-3">
        <img
          src="../../../assets/location.png"
          alt="locationPointer"
          class="h-16"
        />
        <p>
          Add one or more vehicle in the cart. View your past and upcoming
          bookings
        </p>
      </div>
    </div>
    <img
      src="../../../assets/mobile.jpg"
      alt="road"
      class="rounded-lg mx-auto h-[400px]"
    />
  </div>
</div>
