<div class="flex items-center my-6 p-3 m-3 border-2 rounded-lg" id="contact">
  <form
    class="flex flex-col items-center gap-3 w-2/5 p-12 text-black bg-secondary"
  >
    <div class="flex gap-3 w-full">
      <div class="flex flex-col w-full">
        <label>FirstName*</label>
        <input type="text" class="border-2 rounded" />
      </div>
      <div class="flex flex-col w-full">
        <label>LastName</label>
        <input type="text" class="border-2 rounded" />
      </div>
    </div>

    <div class="flex flex-col w-full">
      <label>Email*</label>
      <input type="email" class="border-2 rounded" />
    </div>
    <div class="flex flex-col w-full">
      <label>Message*</label>
      <textarea rows="4" class="border-2 rounded"></textarea>
    </div>
    <button
      class="border-2 bg-primary border-primary transition-colors duration-200 ease-out hover:text-primary hover:bg-white font-semibold rounded-md px-3 py-1 text-white"
    >
      Send
    </button>
  </form>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.3678204307885!2d80.24004901132409!3d12.948299387312199!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d3e49715fa1%3A0x94fe3a96888fa164!2sHALT-O!5e0!3m2!1sen!2sin!4v1714538169098!5m2!1sen!2sin"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="w-screen h-96 rounded-md pl-3"
  ></iframe>
</div>
