<div
  class="w-screen px-24 py-12 flex gap-6 bg-secondary justify-around items-center"
  id="application"
>
  <div class="w-2/5">
    <img
      src="../../../assets/mobile.jpg"
      alt="road"
      class="rounded-lg mx-auto"
    />
  </div>
  <div
    class="w-2/5 text-black h-full grid grid-cols-1 justify-center gap-6 border-l-2 border-black pl-4"
  >
    <h3 class="text-primary font-semibold">APPLICATION:</h3>
    <h4
      class="text-2xl underline underline-offset-4 decoration-primary font-medium"
    >
      Halt-O Mobile Application
    </h4>
    <p>
      Plan, Park & Pay Halt-O app is available for download on both Android and
      IOS and offers a host of features to help you find the perfect spot,
      including real-time parking availability and information on amenities in
      the lot. And with our live CCTV access, you can even keep an eye on your
      vehicle while you're away. Say goodbye to parking headaches and hello to
      Halt-O!
    </p>
    <a href="#">
      <button
        class="border-2 border-primary rounded-lg w-fit mx-auto px-2 py-1 hover:text-white hover:bg-primary font-medium"
      >
        Read More
      </button></a
    >
  </div>
</div>
