<div class="bg-secondary py-8">
  <div class="mx-auto w-4/5">
    <div
      class="w-[500px] flex flex-col gap-6 my-6 border-l-2 pl-4 border-black"
    >
      <h3 class="text-5xl font-bold">Meet the team!</h3>
      <p>
        We are a team of creative thinkers and change seekers driven to make a
        positive impact personally and professionally.
      </p>
    </div>

    <div class="grid grid-cols-4 justify-center items-center gap-4">
      <div
        class="flex flex-col items-center p-6 w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <img
          class="size-24 mb-3 rounded-full shadow-lg"
          src="../../../assets/profile.jpg"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Sree Aranganathan D
        </h5>
        <span class="text-sm text-primary dark:text-gray-400"
          >Frontend Developer</span
        >
      </div>
      <div
        class="flex flex-col items-center p-6 w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <img
          class="size-24 mb-3 rounded-full shadow-lg"
          src="../../../assets/profile.jpg"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Sree Aranganathan D
        </h5>
        <span class="text-sm text-primary dark:text-gray-400"
          >Frontend Developer</span
        >
      </div>
      <div
        class="flex flex-col items-center p-6 w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <img
          class="size-24 mb-3 rounded-full shadow-lg"
          src="../../../assets/profile.jpg"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Sree Aranganathan D
        </h5>
        <span class="text-sm text-primary dark:text-gray-400"
          >Frontend Developer</span
        >
      </div>
      <div
        class="flex flex-col items-center p-6 w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <img
          class="size-24 mb-3 rounded-full shadow-lg"
          src="../../../assets/profile.jpg"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Sree Aranganathan D
        </h5>
        <span class="text-sm text-primary dark:text-gray-400"
          >Frontend Developer</span
        >
      </div>
      <div
        class="flex flex-col items-center p-6 w-full max-w-xs bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700"
      >
        <img
          class="size-24 mb-3 rounded-full shadow-lg"
          src="../../../assets/profile.jpg"
          alt="Bonnie image"
        />
        <h5 class="mb-1 text-xl font-medium text-gray-900 dark:text-white">
          Sree Aranganathan D
        </h5>
        <span class="text-sm text-primary dark:text-gray-400"
          >Frontend Developer</span
        >
      </div>
    </div>
  </div>
</div>
